html {
	box-sizing: border-box;
}

body {
	min-width: 100%;
	margin:0;
	background-color: white;
	display: grid;
	grid-template: 75px 75px .25fr 75px 75px 1fr 75px 75px / 1fr 1fr; 
}

header {
	grid-area:1/1/2/3;
	min-width:100%;
	background-color: lightsalmon;
	max-height: 75px;
	margin:0 auto;
}

.here {
	display: none;
	grid-area:3/1/4/2;
	background-color: white;
	border:solid 5px black;
	margin: 10px auto;
	max-width: 100%;
}

.title {
	grid-area:2/1/3/3;
	margin: auto;
}

.main {
	display: flex;
	justify-content: center;
	padding-left:10px;
	padding-right:10px;
}

.books {
	grid-area:6/1/7/3;
	display:grid;
	grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
}

.author {
	grid-area:5/1/6/3;
	padding-left: 10px;
}

.next {
	grid-area:7/1/8/3;
	display: none;
	margin-left: 10px;
}

.search {
	margin: auto;
	grid-area:4/1/5/3;
	padding-top: 5px;
}

.more {
	grid-area:7/1/8/3;
	padding-top:15px;
	padding-bottom:10px;
}

.rec {
	padding-left: 10px;
	padding-right:10px;
}

.bigmain {
	grid-area:3/2/4/3;
	padding-left: 20px;
}

.big {
	display: none;
	padding-left:10px;
}

.rec img {
	border: solid black 5px;
	height: 300px;
	max-width: 200px;
}

.rec p {
	padding-right: 10px;
}

.galore {
	display: flex;
	align-items: center;
	margin: 20px;
}

.start {
	grid-area: 3/1/4/3;
	max-width: 100%;
	display: flex;
	justify-content: center;
}

@media (max-width:650px) {
	body {
		display: flex;
		flex-direction: column;
		margin: 0;
	}
	.books {
		display:flex;
		flex-direction: column;
	}
	
	.start img {

		width: 300px;
	}
}

@media (max-width:750px) {
	body {
		display:flex;
		flex-direction: column;
		margin:0;
	}

	.start img {
		max-width: 600px;
	}
}

@media (max-width:390px){
	.here {
		max-width:200px;
	}

	.recs img {
		max-width:200px;
	}

	.start img {
		max-width: 200px;
	}

	h1 {
		font-size: 25px;
	}
}


footer {
	grid-area: 8/1/9/3;
	background-color:lightsalmon;
	display: flex;
	justify-content:flex-end;
	align-items:flex-end;
	padding-right: 15px;
}
